
* {
    margin: 0;
    padding: 0;
}
header {
    background-image: url(img/header-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav img {
    width: 50vw;
    padding: 0 100px 0 0;
    
}
nav li {
    list-style: none;
    color: #fff;
    display: inline-block;
    padding: 16px;
}
h1 {
    font-size: 20px;
    color: #fff;
}