
* {
    margin: 0;
    padding: 0;
}
header {
    background-image: url(img/header-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-position: 0% 0%;
}
nav li {
    list-style: none;
    color: #fff;
    display: inline-block;
    padding: 16px;
}
nav p {
    font-size: 20px;
    color: #fff;
    padding: 30%;
}