
body{
    font-family: 'Nunito', sans-serif;
    background-color: white;
    margin: 0;
    background-color: #35667C;
}
.container{
    background-color: #fff;
    max-width: 1320;

}
img {
    max-width: 100%;
}
header {
    background-image: 
        linear-gradient(#6b350ec4, #6b350e00), 
        url(img/header-photo.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-position: 11% -100%;
    background-size: cover;
    color: #fff;
    border-radius: 20px;
}
nav a img{
    margin: 0;
    border: 0;
    padding: 18px 76px 26px 76px;
}
nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
nav li {
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px;
    padding-top: 0;
}
nav ul {
    padding: 0;
    border: 0;
    margin: 0;
}
header p {
    margin: 0;
    font-size: 40px;
    padding: 15% 30px 70% 30px;
    font-weight: 900;
}
main {
    color: #6B350E;
    text-align: center;
}
main p {
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 0;
}
h1 {
    margin: 0 5px 16px 5px;
    font-size: 40px;
    font-weight: 900;
}
#hours {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 31px;
    font-weight: 600;
}
section {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}
section h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
section p {
    margin-bottom: 20px;
    margin-top: 0;
    text-align: left;
}
.features {
    text-align: center;
}
section img {
    margin-top: 60px;
    border-radius: 20px;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 30px;
}
.menus a{
    aspect-ratio: 1000 / 780;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 20px;
}
.drink-menu{
    background-image: url(img/drink\ menu\ photo.jpg);
    background-size: cover;
    font-size: 36px;
    font-weight: 900;
}
.food-menu{
    background-image: url(img/food\ menu\ photo.jpg);
    background-size: cover;
    font-size: 36px;
    font-weight: 900;
}
footer {
    text-align: center;
    padding: 20px 0;
} 
.address {
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 0;
    color: #6B350E;
}
.contact{
    font-size: 22px;
    color: #6B350E;
}
footer p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
footer li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    padding-top: 34px;
}
footer ul {
    padding: 0;
    border: 0;
    margin: 0;
}
.copyright{
    font-size: 14px;
    color: #6B350E;
}
